<div class="event-list">
  <section class="events">
    <picture class="lines pattern">
      <source srcset="/assets/images/patterns/pattern-lines.svg">
      <img src="/assets/images/patterns/pattern-lines.svg" />

    </picture>

    <picture class="curve-right pattern">
      <source srcset="/assets/images/patterns/pattern-curve-top-right.svg">
      <img src="/assets/images/patterns/pattern-curve-top-right.svg" />

    </picture>
    <app-picture-responsive *ngIf="selectedEvent"
                            imageTitle="{{selectedEvent.imageTitle}}"
                            class="event-photo"></app-picture-responsive>

    <ul class="event-select mobile">
      <li class="event-item"
          *ngFor="let event of events">
        <a (click)="onSelect(event)"
           [ngClass]="{'selected' : event === selectedEvent}">{{event.title}}</a>
      </li>

    </ul>
  </section>
  <section class="event"
           *ngIf="selectedEvent">
    <h2>{{selectedEvent.title}}</h2>
    <p class="secondary">{{selectedEvent.description}}</p>
    <button class="btn btn-light"
            (click)="onBookTableClick()">Book A Table</button>

    <ul class="event-select desktop">
      <!-- TO DO => add show/hide & maybe move to seperate component? -->
      <li class="event-item"
          *ngFor="let event of events">
        <a (click)="onSelect(event)"
           [ngClass]="{'selected' : event === selectedEvent}">{{event.title}}</a>
      </li>

    </ul>
  </section>

</div>
