<div class="container">
  <app-picture-responsive *ngIf="selectedEvent"
                          imageTitle="{{selectedEvent.imageTitle}}"
                          class="event-photo"></app-picture-responsive>

  <ul class="event-select mobile">
    <li class="event-item"
        *ngFor="let event of events">
      <a (click)="onSelect(event)"
         [ngClass]="{'selected' : event === selectedEvent}">{{event.title}}</a>
    </li>
  </ul>

  <section class="event"
           *ngIf="selectedEvent">
    <h2>{{selectedEvent.title}}</h2>
    <p class="secondary">{{selectedEvent.description}}</p>
    <button class="btn btn-light"
            (click)="onBookTableClick()">Book A Table</button>

    <ul class="event-select desktop">

      <li class="event-item"
          *ngFor="let event of events">
        <a (click)="onSelect(event)"
           [ngClass]="{'selected' : event === selectedEvent}"><img src="/assets/images/patterns/pattern-divide.svg"
           class="divide">{{event.title}}</a>
      </li>
    </ul>
  </section>
</div>
