@use "/src/variables";

.hero {
  @include variables.flexCenter(column);

  * {
    color: white;
    width: 18rem;
  }
}

h1 {
  @include variables.heading-type-xl;
  font-size: 2rem;
  line-height: 2.2rem;
  padding: 0 1rem;
  letter-spacing: -0.02rem;
}

p {
  @include variables.body-type-secondary;
  margin: 1rem auto 3rem auto;

}

@media (min-width: 600px) {
  h1 {
    width: 25rem !important;
    font-size: 48px;
    font-weight: 300;
    line-height: 64px;
    letter-spacing: -0.6px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  p {
    @include variables.body-type-primary;
    margin-bottom: 75px;
    height: 60px;
    width: 37rem !important;
  }
}

@media (min-width: 900px) {
  .hero {
    text-align: left;
    margin-left: 0;
    align-items: flex-start;

  }

  h1 {
    text-align: left;
    width: 37rem !important;
    @include variables.heading-type-xl;
    font-weight: 200;
    margin: 75px 0 1.5rem 0;
  }

  p {
    text-align: left;
    margin: 1.5rem 0 50px 0;
    padding: 10px 0;
    height: 90px;
    max-width: 28rem;
    @include variables.body-type-primary;
  }
}
