@use "/src/variables";

.hero {
  @include variables.flexCenter(column);

  * {
    color: white;
    width: 18rem;
  }
}

h1 {
  @include variables.heading-type-xl;
  font-size: 2rem;
  line-height: 2.2rem;
  padding: 0 1rem;
  letter-spacing: -0.02rem;
}

p {
  @include variables.body-type-secondary;
  margin: 1rem auto 3rem auto;

}

@media (min-width: 600px) {

  .hero {

   width: 100%;

  }
  h1 {
    min-width: 50vw ;
    max-width: 32rem;
    font-size: 2.6rem;
    font-weight: 300;
    line-height: 3.5rem;
    letter-spacing: -0.6px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  p {
    @include variables.body-type-primary;
    margin-bottom: 4.1rem;
    height: 60px;
    min-width:32rem ;
    max-width: 80vw;
  }
}

@media (min-width: 900px) {
  .hero {
    margin-top: 0.3rem;
    text-align: left;
    margin-left: 0;
    align-items: flex-start;
    width: 37rem ;
  }

  h1 {
    text-align: left;
    width: 20rem ;
    @include variables.heading-type-xl;
    font-weight: 200;
    margin: 1rem 20 1.5rem 0;
  }

  p {
    text-align: left;
    margin: 1.5rem 0 2.75rem 0;
    padding: 10px 0;
    height: 90px;
    width: 37rem ;
    @include variables.body-type-primary;
  }
}
