footer {
    padding: 50px 25px 0px 25px;
    background-color: var(--dreamless-sleep);
    color: white;
    text-align: center;
}

ul {
    margin: 20px 5px;
}

li {
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 2px;
    text-align: center;

}


.attribution {
    font-size: 0.75em;
    margin-bottom: 10px;
}

@media (min-width: 600px) {
    .info {
        margin-bottom: 25px;
        width: 100vw;
    }

    .sub-info {
     * {
            text-align: left;
            font-size: 14px;
            font-weight: 300;
            line-height: 28px;
        }
    }
}

@media (min-width: 900px) {
    .info {
         height: 240px;
    }


    .sub-info {
        margin-top: 0;
        * {
            text-align: left;
            font-size: 14px;
            font-weight: 300;
            line-height: 28px;
        }
    }
}
