<footer>
    <div class="info">
        <h1>dine</h1>
        <div class="sub-info">
            <ul class="address">
                <li class="city">Marthwaite, Sedbergh</li>
                <li class="country">Cumbria</li>
                <li class="phone">+00 44 123 4567</li>
            </ul>

            <ul class="hours">
                <li class="times">Open Times</li>
                <li class="weekday">Mon - Fri: 09:00 AM - 10:00 PM</li>
                <li class="weekend">Sat - Sun: 09:00 AM - 11:30 PM</li>
            </ul>
        </div>
    </div>


    <div class='attribution primary'>
        Challenge by
        <a href='https://www.frontendmentor.io/challenges/dine-restaurant-website-yAt7Vvxt7'
           target='_blank'
           rel='noreferrer'>

            Frontend Mentor
        </a>
        . Coded by <a href='ChandaCodes.com'> Chanda Abdul</a>.

    </div>
</footer>