header {
    position: relative;
    height: 748px;
    background-color: var(--cod-gray);
    width: 100vw;
    // background-size:cover;
    picture{
        width: 100%;
    }
}


.intro {
    position: absolute;
    top: 232px;
    background-color: var(--cod-gray);
    color: white;
    width: 100vw;
    height: 364px;
    text-align: center;
}

.logo {
    font-weight: 600;
    font-size: 40px;
  
}

@media (min-width: 600px) {
    header {
        height: 992px;
    }

    .intro {
        top: 372px;
    }

    .logo {
        font-size: 56px;
    }
}

@media (min-width: 900px) {
    header {
        width: 100vw;
        height: 820px;
    }

    .intro {
        align-items: flex-start;
        padding: 0;
        margin: 20px auto 20px 10vw;
        top: 65px;
        text-align: left;
        width: 507px;
    }

    .logo {
        font-size: 56px;
        width: 103px;
    }
}