<header>
    <picture>
        <source media="(min-width: 1440px)"
                srcset="../../../assets/images/homepage/hero-bg-desktop.jpg">
        <source media="(min-width: 900px)"
                srcset="../../../assets/images/homepage/hero-bg-tablet.jpg">
        <source media="(min-width: 600px)"
                srcset="../../../assets/images/homepage/hero-bg-mobile.jpg">
        <img src="../../../assets/images/homepage/hero-bg-mobile.jpg" />
    </picture>
  
</header>
<div class="intro">  
    <h1 class="logo">dine</h1>
    <app-hero></app-hero>
</div>