header {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 748px;
    background-color: var(--cod-gray);
}


.intro {
    position: absolute;
    top: 232px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    color: white;
    width: 100%;
}

.logo{
    font-weight: 600;
}

@media (min-width: 600px){
    header {
        
        height: 992px;
      
    }
    .intro {
   
        top: 372px;
    }

    .logo{
        font-size: 56px;
    }
}