div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cod-gray);
    color: white;
    
    
    text-align: center;
}


  h2 {
     font-size: 1.5rem;
     width: 50vw;
     line-height: 1.5;
     padding: 20px 0;
  }
  p{
    padding: 20px 0;
    width:75vw;
  }