<section fxlayout
         fxLayoutAlign="center center"
         fxLayout="column">

       <form class="rezForm"
             [formGroup]="rezzoForm"
             (ngSubmit)="onSubmitForm()"
             fxLayout="column"
             fxLayoutAlign="space-evenly center"
             fxLayoutGap="20px">

              <input id="name"
                     type="text"
                     placeholder="Name"
                     formControlName="name"
                     class="element">


              <!-- <mat-error>
                            Please enter your name.
                     </mat-error> -->

              <!-- <label for="email">
                            Email
                          </label> -->
              <input id="email"
                     type="text"
                     placeholder="Email"
                     formControlName="email"
                     class="element">
              <!-- <mat-hint>Please enter a valid email.</mat-hint> -->

              <!-- <mat-error>
                            E-mail is invalid.
                     </mat-error> -->

              <h4>Pick a Date</h4>

              <form #d="ngForm"
                    fxLayout="column"
                    fxLayoutAlign="center center">
                     <div class="dates"
                          fxLayout="row"
                          fxLayoutAlign="space-between center">
                            <select name="month"
                                    ngModel
                                    class="element small">
                                   <option value=""
                                           disabled>MM</option>
                                   <option *ngFor="let month of months"
                                           [ngValue]="month">
                                          {{ month.name }}
                                   </option>
                            </select> <select name="day"
                                    ngModel
                                    class=" element small">
                                   <option value=""
                                           disabled>DD</option>
                                   <option *ngFor="let day of Days"
                                           [ngValue]="day">{{day}}</option>

                            </select>
                            <!-- <mat-error *ngIf="rezzoForm.get('days').hasError('required')">
                           Please select a Day
                    </mat-error> --> <select name="year"
                                    ngModel
                                    class=" element small">
                                   <option value=""
                                           disabled>YYYY</option>
                                   <option *ngFor="let year of Years"
                                           [ngValue]="year">{{year}}</option>

                            </select>
                            <!-- <mat-error *ngIf="rezzoForm.get('years').hasError('required')">
                           Please select a Year
                    </mat-error> -->
                     </div>






              </form>
              <h4>Pick a Time</h4>

              <form #t="ngForm"
                    fxLayout="column"
                    fxLayoutAlign="center center">
                     <div class="times"
                          fxLayout="row"
                          fxLayoutAlign="space-between center">
                            <select ngModel
                                    name="hour"
                                    class=" element small">
                                   <option value=""
                                           disabled>07</option>
                                   <option *ngFor="let hour of Hours"
                                           [ngValue]="hour">{{hour}}</option>

                            </select>
                            <!-- <mat-error *ngIf="rezzoForm.get('hours').hasError('required')">
                                          Please select an Hour
                                   </mat-error> -->




                            <select ngModel
                                    name="minute"
                                    class=" element small">
                                   <option value=""
                                           disabled>00</option>
                                   <option *ngFor="let minute of Minutes"
                                           [ngValue]="minute">{{minute}}</option>

                            </select>
                            <!-- <mat-error *ngIf="rezzoForm.get('minutes').hasError('required')">
                            Please select a Minute
                     </mat-error> -->


                            <div class=" element"><select (change)="changeMeridian"
                                           name="meridian"
                                           class="small ampm">
                                          <option value="PM">PM</option>
                                          <option value="AM">AM</option>
                                   </select><img src="../../../assets/images/icons/icon-arrow.svg"></div>


                     </div>
              </form>
              <div fxLayout="row"
                   fxLayoutAlign="center center"
                   ngModel
                   class="element guests">
                     <img src="../../../assets/images/icons/icon-minus.svg">

                     <option [ngValue]="guests"
                             class="counter">{{Guests[3]}}</option>

                     <img src="../../../assets/images/icons/icon-plus.svg">
              </div>


              <app-button text="Make Reservation"
                          buttonClass="light"
                          class="booking-btn"
                          type="submit">
              </app-button>

       </form>


</section>