section {
    position: relative;
    width: 100vw;
    padding: 10px;
    margin: auto;
    background-color: white;
}

form {
    width: 328px;
}

.rezForm {
    position: absolute;
    top: -140px;
    height: 585px;
    z-index: 2;
    box-shadow: 0px 75px 100px -50px var(--ebony-clay);
    background-color: white;
    margin: 25px 10px;
    padding: 30px 10px 10px 10px;

    input,
    .counter {
        height: 43px;
        width: 263px;

    }

    input, .small {
        font-size: 20px;
        letter-spacing: 0px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
        color: var(--cod-gray);
        opacity: 0.75;
        padding-left: 10px;
    }

    select {
        padding: 0 15px;
        
    }

    .guests {
        width: 263px;
        padding: 15px;
    }

    h3 {
        width: 263px;
        // height: 28px;
        text-transform:initial;
        font-size: 20px;
        font-weight: 400;
        // line-height: 28px;
        letter-spacing: 0px;
        text-align: left;
        margin: 10px 0 0 0;
        padding: 0;
    }

    .element {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid var(--shuttle-gray);
        font-size: 20px;
        height: 43px;
        // 
        line-height: 28px;
        letter-spacing: 0px;
        text-align: left;
        // color: var(--shuttle-gray);
        select{
            width: 55px;
            // opacity: 0.5;
            color: var(--ebony-clay);
            
        }

    }

    .small {
        width: 75px;
        opacity: 0.5;
        -moz-appearance: none;
        /* Firefox */
        -webkit-appearance: none;
        /* Safari and Chrome */
        appearance: none;
    }

    // :not(.ampm) {

    // }

    .ampm {
        color: var(--cod-gray);
        border: none;
        font-size: 20px;
        height: 43px;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: left;
     opacity: .75;
        // width: 75px;
    }

    .dates,
    .times {
        width: 263px;
    }

    .counter {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: -0.25px;
        color: var(--cod-gray);
  
    }
}