<div class="event-list">
    <section class="events">
        <ul class="event-select">
            <li class="event-item"
            *ngFor="let event of events">{{event.title}}</li>
        </ul>
    </section>
    <section class="event-highlight">
        <h3>selected event</h3>
        <p class="second">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod sint expedita nostrum consequuntur ipsam voluptates. Delectus dolor pariatur perferendis temporibus tempora ipsum ea optio nihil, officiis sit alias velit ducimus!</p>
    </section>
<app-button text="Book a table"
buttonClass="dark" (click)="onBookTableClick()"></app-button>
</div>


