<div class="event-list"
     fxLayout.lt-lg="column"
     fxLayoutAlign.lt-lg="center center"
     fxLayout.gt-md="row"
     fxLayoutAlign.lt-lg="space-around center">
    <section class="events">
        <picture class="lines pattern">
            <source srcset="../../../assets/images/patterns/pattern-lines.svg">
            <img src="../../../assets/images/patterns/pattern-lines.svg" />

        </picture>

        <picture class="curve-right pattern">
            <source srcset="../../../assets/images/patterns/pattern-curve-top-right.svg">
            <img src="../../../assets/images/patterns/pattern-curve-top-right.svg" />

        </picture>
        <picture *ngIf="selectedEvent">
            <source media="(min-width: 1440px)"
                    srcset="{{selectedEvent.desktopImage}}">
            <source media="(min-width: 900px)"
                    srcset="{{selectedEvent.desktopImage}}">
            <source media="(min-width: 600px)"
                    srcset="{{selectedEvent.tabletImage}}">
            <img src="{{selectedEvent.mobileImage}}" />
        </picture>
        <ul class="event-select mobile"
            fxLayout="column"
            fxLayoutAlign.lt-lg="space-evenly center"
            fxLayoutAlign.gt-md="center space-around"
            >
            <!-- TODO => add fxLayout show/hide & maybe move to seperate component -->
            <li class="event-item"
                *ngFor="let event of events">
                <!-- TODO => add onHover?, set timeout slideshow? -->
                <a (mouseover)="event === selectedEvent"
                   (mouseout)="event !== selectedEvent"
                   type="button"
                   [ngClass]="{'selected' : event === selectedEvent}"
                   (click)="onSelect(event)">{{event.title}}</a>
            </li>

        </ul>
    </section>
    <section class="event-highon-light"
             *ngIf="selectedEvent" fxLayout.gt-md="column" fxLayoutAlign.gt-md="space-between center">
        <h2>{{selectedEvent.title}}</h2>
        <p class="secondary">{{selectedEvent.description}}</p>
        <button text="Book a table"
                    class="on-light"
                    (click)="onBookTableClick()">Book A Table</button>

        <ul class="event-select desktop">
           <!-- TODO => add fxLayout show/hide & maybe move to seperate component -->
            <li class="event-item"
                *ngFor="let event of events"><a (mouseover)="event === selectedEvent"
                   (mouseout)="event !== selectedEvent"
                   type="button"
                   [ngClass]="{'selected' : event === selectedEvent}"
                   (click)="onSelect(event)">{{event.title}}</a></li>

        </ul>
    </section>

</div>