<section>
  <form novalidate
        class="rezForm"
        (ngSubmit)="saveReservation()"
        [formGroup]="rezzoForm">
    <div *ngIf="!isSubmitted"
         class="container">

      <!-- Name Input -->
      <input class="form-control form-input full"
             type="text"
             id="nameId"
             placeholder="Name"
             formControlName="name"
             [ngClass]="{'alert-danger': nameValidationErrorMessage }" />
      <span class="alert-danger">
        {{nameValidationErrorMessage}}
      </span>

      <!-- Email Input -->
      <input class="form-control form-input full"
             type="text"
             id="emailId"
             placeholder="Email"
             formControlName="email"
             [ngClass]="{'alert-danger': emailValidationErrorMessage }">
      <span class="alert-danger">
        {{emailValidationErrorMessage}}
      </span>


      <div class="group">
        <!-- Date Input -->
        <!-- TO DO =>  Receive an error message when the booking form is submitted if
              Any of the `Pick a date` or `Pick a time` fields are empty should show "This field is incomplete" -->
        <h3>Pick a Date</h3>
        <div formGroupName="dateGroup"
             class="dates">
          <!-- Month Select -->
          <select formControlName="month"
                  type="text"
                  class="form-control form-select small date">
            <option disabled>MM</option>
            <option *ngFor="let month of months">
              {{ month }}
            </option>
          </select>
          <!-- Day Select -->
          <select formControlName="day"
                  type="text"
                  class="form-control form-select small date">
            <option disabled>DD</option>
            <option *ngFor="let day of days">
              {{day}}
            </option>
          </select>
          <!-- Year Select -->
          <select formControlName="year"
                  type="text"
                  class="form-control form-select small year">
            <option disabled>YYYY</option>
            <option *ngFor="let year of years">
              {{year}}
            </option>
          </select>
        </div>

        <!-- TO DO(Bonus) => add date select error message with cross validation -->
        <!-- <div *ngIf="rezzoForm.get('dateGroup.month').touched
      || rezzoForm.get('dateGroup.day').touched ||
      rezzoForm.get('dateGroup.year').touched">

          <span *ngIf="rezzoForm.get('dateGroup.month').errors?.required">
            Please select a Month
          </span>
          <span *ngIf="rezzoForm.get('dateGroup.day').errors?.required">
            Please select a Day
          </span>
          <span *ngIf="rezzoForm.get('dateGroup.year').errors?.required">
            Please select a Year
          </span>
        </span>
      </div> -->

    </div>
<span class="alert-danger">{{dateValidationErrorMessage}}</span>
      <div class="group">
        <!-- Time Input -->
        <h3>Pick a Time</h3>
        <div formGroupName="timeGroup"
             class="times">
          <!-- Hour Select -->
          <select formControlName="hour"
                  class="form-control form-select small hour">
            <option disabled>07</option>
            <option *ngFor="let hour of hours">{{hour}}</option>
          </select>
          <!-- Minute Select -->
          <select formControlName="minute"
                  class="form-control form-select small hour">
            <option *ngFor="let minute of minutes">{{minute}}</option>
          </select>

          <!-- AM/PM Select -->
          <div class="ampm">
            <select formControlName="meridian"
                    class="form-control form-select small meridian">
              <option>PM</option>
              <option>AM</option>
            </select>
            <img src="/assets/images/icons/icon-arrow.svg">
          </div>
        </div>
        <!-- TO DO(Bonus) => add timeGroup validation/error message -->
      </div>

      <!-- Guest Counter -->
      <!-- TO DO(Bonus) => change this to form control? -->
      <div class="full counter">
        <img src="/assets/images/icons/icon-minus.svg"
             (click)="decrementGuestCount()" />
        <!-- TO DO(Bonus) => add validation/error message "Please select guest count of 1 or more people"-->

        {{guests[selectedGuestCount-1]}}
        <img src="/assets/images/icons/icon-plus.svg"
             (click)="incrementGuestCount()" />
        <!-- TO DO(Bonus) => add validation/error message ""-->
        <!--  <span class="invalid-feedback">
        <span *ngIf="rezzoForm.get('guests').errors?.range">
          Please select guest count of 12 or less people.
        </span>
      </span> -->

      </div>
      <!-- Form submit button -->
      <button class="btn btn-light"
              type="submit"
              [disabled]="!rezzoForm.valid">
        Make
        Reservation</button>
    </div>
    <div class="confirm"
         *ngIf="isSubmitted">
      <p>Thanks for making your reservation.</p>
      <p>We look forward to dining with you!</p>
    </div>

  </form>


</section>
