<section>
  <form novalidate
        class="rezForm"
        (ngSubmit)="saveReservation()"
        [formGroup]="rezzoForm">
    <div *ngIf="!isSubmitted"
         class="container">

      <!-- Name Input -->
      <input class="form-control form-input full"
             type="text"
             placeholder="Name"
             formControlName="name"
             [ngClass]="{'alert-danger': nameValidationErrorMessage }" />
      <span class="alert-danger">
        {{nameValidationErrorMessage}}
      </span>

      <!-- Email Input -->
      <input class="form-control form-input full"
             type="email"
             placeholder="Email"
             formControlName="email"
             [ngClass]="{'alert-danger': emailValidationErrorMessage }">
      <span class="alert-danger">
        {{emailValidationErrorMessage}}
      </span>


      <div class="group">
        <!-- Date Input -->
        <h3>Pick a Date</h3>
        <div formGroupName="dateGroup"
             class="dates">
          <!-- Month Select -->
          <select formControlName="month"
                  type="text"
                  class="form-control form-select small date">
            <option disabled>MM</option>
            <option *ngFor="let month of months">
              {{ month }}
            </option>
          </select>
          <!-- Day Select -->
          <select formControlName="day"
                  type="text"
                  class="form-control form-select small date">
            <option disabled>DD</option>
            <option *ngFor="let day of days">
              {{day}}
            </option>
          </select>
          <!-- Year Select -->
          <select formControlName="year"
                  type="text"
                  class="form-control form-select small year">
            <option disabled>YYYY</option>
            <option *ngFor="let year of years">
              {{year}}
            </option>
          </select>
        </div>
      </div>
      <span class="alert-danger">{{dateValidationErrorMessage}}</span>


      <div class="group">
        <!-- Time Input -->
        <h3>Pick a Time</h3>
        <div formGroupName="timeGroup"
             class="times">
          <!-- Hour Select -->
          <select formControlName="hour"
                  type="text"
                  class="form-control form-select small hour">
            <option>07</option>
            <option *ngFor="let hour of hours">{{hour}}</option>
          </select>
          <!-- Minute Select -->
          <select formControlName="minute"
                  type="text"
                  class="form-control form-select small hour">
            <option *ngFor="let minute of minutes">{{minute}}</option>
          </select>

          <!-- AM/PM Select -->
          <div class="ampm">
            <select formControlName="meridian"
                    type="text"
                    class="form-control form-select small meridian">
              <option>PM</option>
              <option>AM</option>
            </select>
            <img src="/assets/images/icons/icon-arrow.svg">
          </div>
        </div>
      </div>
      <span class="alert-danger">{{timeValidationErrorMessage}}</span>


      <!-- Guest Counter -->
      <!-- TO DO(Bonus) => change this to form control? -->
      <div class="full counter">
        <img src="/assets/images/icons/icon-minus.svg"
             (click)="decrementGuestCount()" />
        
        {{guests[selectedGuestCount-1]}}
        <img src="/assets/images/icons/icon-plus.svg"
             (click)="incrementGuestCount()" />

      </div> <span class="invalid-feedback">
        {{guestValidationMessages}}
          </span>

      <button class="btn btn-light"
              type="submit"
              [disabled]="!rezzoForm.valid"> Make
        Reservation</button>
    </div>
    <div class="confirm"
         *ngIf="isSubmitted">
      <p>Thanks for making your reservation
        <span class="details">{{ this.reservation.name }}</span>.
      </p>
      <p>Your reservation for
        <span class="details">{{ guests[this.selectedGuestCount-1]}}</span> has been recieved.
      </p>
      <p> We look forward to dining with you!</p>
        <!--  TO DO(Bonus) => Show reservation time on confimation screen
          on <span class="details">{{this.reservation.date}} {{rezzoForm.dateGroup.day}},
          {{this.reservation.date.year}}</span> at <span class="details">{{this.reservation.time.hour}}:{{this.reservation.time.minute}}
          {{this.reservation.time.meridian}}</span>  <p>A confirmation has been emailed to
        <span class="details">{{ this.reservation.email }}</span>
      </p>
    -->


    </div>
  </form>
</section>
