@use '/src/variables';

.content {
  position: relative;
  height: 63rem;
  width: 100%;
  background-color: variables.$dreamless-sleep;
  margin-bottom: 8rem;

}

picture {
  *{
      width: 100vw;
  // object-fit: cover;
  }

}

section {
  color: white;
  @include variables.flexCenter(column);
  position: absolute;
  top: 75px;
  left: 0;
}

h1 {
  @include variables.heading-type-l;
  width: 250px;
  margin: 30px auto 20px auto;
  font-size: 1.75rem;
  font-weight: 200;
  line-height: 2.25rem;
  letter-spacing: -0.4;
}

p {
  @include variables.body-type-secondary;
  height: 104px;
  margin: auto 1.5rem 2rem 1.5rem;
  padding: 5px;
  color: white;
}









@media (min-width: 600px) {
  .content {
    height: 1035px;
  }

  section {
    align-items: flex-start;
    width: 100%;
    padding: 2rem;
    top: 0;
    height: 600px;
  }
  .logo{
   position: absolute;
   top: 2rem;
   left: 2rem;
  }

  .btn-light {
   display: none;
  }

  h1 {
    @include variables.heading-type-xl;
    margin: 3rem auto;
    font-weight: 200;
    font-size: 2.6rem;
    line-height: 3.5rem;

  }
  p {
    @include variables.body-type-primary;
    width: 32rem;
    font-weight: 300;
    margin:0 auto ;
  }
}
