<div class="content">
  <div class="container">
  <app-picture-responsive class="booking-hero-bg" imageTitle="booking-hero-bg"></app-picture-responsive>

  <section>
    <a routerLink='/'>
      <img src="/assets/images/logo.png"
           class="logo" />
    </a>
    <h1>Reservations</h1>
    <p>We can’t wait to host you. If you have any special requirements please feel free to
      call on the phone number below. We’ll be happy to accommodate you.</p>
    <button class="btn btn-dark"
            routerLink='/'>Reserve Place</button>
  </section></div>
  <picture class="curve-right pattern">
    <img src="/assets/images/patterns/pattern-curve-bottom-right.svg" />
  </picture>
  <picture class="lines pattern">
    <img src="/assets/images/patterns/pattern-lines.svg" />
  </picture>
  <app-rezzo-form></app-rezzo-form>
</div>
