<div class="content">
    <picture>
     
        <source media="(min-width: 900px)"
                srcset="../../../assets/images/booking/hero-bg-desktop.jpg">
        <source media="(min-width: 600px)"
                srcset="../../../assets/images/booking/hero-bg-tablet.jpg">
        <img src="../../../assets/images/booking/hero-bg-mobile.jpg" />
    </picture>
    <section>
        <h1>dine</h1>
        <h2>Reservations</h2>
        <p>We can’t wait to host you. If you have any special requirements please feel free to
            call on the phone number below. We’ll be happy to accommodate you.</p>
        <app-button text="Reserve Place"
        class="btn"
                    buttonClass="dark"
                    (click)="onReserveClick()"></app-button>
    </section>
    <app-rezzo-form></app-rezzo-form>
</div>
