<div class="content">
  <app-picture-responsive imageTitle="booking-hero-bg"></app-picture-responsive>

  <section>
    <a routerLink='/'>
      <img src="/assets/images/logo.png"
           class="logo" />
    </a>
    <h1>Reservations</h1>
    <p>We can’t wait to host you. If you have any special requirements please feel free to
      call on the phone number below. We’ll be happy to accommodate you.</p>
    <button class="btn btn-light"
            routerLink='/'>Reserve Place</button>
  </section>
  <app-rezzo-form></app-rezzo-form>
</div>
