section {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100vw;
    // height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    color: white;
}

.content {
    position: relative;
    text-align: center;
    height: 600px;
    width: 100vw;
}

h2 {
    width: 250px;
    margin: 5px auto;
    font-size: 32px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: -0.4;
    text-align: center;

}

p {
    width: 327px;
    margin: 5px auto;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;

}

@media (min-width: 600px) {
    .content {
        height: 1035px;
    }

    h1 {
        text-align: left;
        height: 40px;
        width: 100vw;
        margin: 0 auto 0 10vw;
    }

    h2 {
        // text-align: center;
        width: 689px;
        // margin: 0 auto 0 10vw;

        font-size: 48px;

        line-height: 64px;
        letter-spacing: -0.6px;


    }

    p {
        font-size: 20px;
        line-height: 30px;
    }

    .btn {
        display: none;
    }

   
}