<div class="container">

  <section class="enjoy">
    <app-picture-responsive class="enjoyable-place"
                            imageTitle="enjoyable-place">
    </app-picture-responsive>



    <div class="text">
      <img src="/assets/images/patterns/pattern-divide.svg"
           class="divide">
      <h2>Enjoyable place for all the family</h2>
      <p>
        Our relaxed surroundings make dining with us a great experience for everyone. We can even
        arrange
        a tour of the farm before your meal.
      </p>
    </div>

  </section>

    <div class="background-elements">
      <picture class="curve-right pattern">
        <img src="/assets/images/patterns/pattern-curve-top-right.svg" />
      </picture>
      <picture class="lines pattern">
        <img src="/assets/images/patterns/pattern-lines.svg" />
      </picture>
      <picture class="curve-left pattern">
        <img src="/assets/images/patterns/pattern-curve-top-left.svg" />
      </picture>
    </div>

  <section class="local">

    <div class="text">

      <img src="/assets/images/patterns/pattern-divide.svg"
           class="divide">
      <h2>The most locally sourced food</h2>
      <p>
        All our ingredients come directly from our farm or local fishery. So you can be sure that you’re
        eating the freshest, most sustainable food.
      </p>
    </div>
    <app-picture-responsive class="locally-sourced"
                            imageTitle="locally-sourced"></app-picture-responsive>

  </section>


</div>
