// * {
//     display: inline-block;
// }

button.btn {
    width: 245px;
    height: 64px;
    margin: 20px;
}

.dark {
    border: 1px solid white;
    background: transparent;
    color: white;

    &:hover {
        border: none;
        background-color: white;
        color: var(--cod-gray);
    }

    .inactive {
        opacity: 25%;
    }
}

.light {
    border: none;
    background-color: var(--cod-gray);
    color: white;

    &:hover {
        border: 1px solid var(--cod-gray);
        background: transparent;
        color: var(--cod-gray);
    }

    .inactive {
        opacity: 25%;
    }
}

@media (min-width: 600px) {
    button.btn {
        width: 245px;
        height: 64px;
        margin: 50px;
    }

    // .booking-btn {
    //     width: 444px;
    //     height: 64px;
    //     margin: 50px;

    // }

    //     .booking-btn  {
    // button{
    //      width: 444px;
    // }


    //     }
}

@media (min-width: 600px) {
    button.btn {
        width: 245px;
        height: 64px;
        margin: 0;
    }

    // .booking-btn {

}