@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;600;700&display=swap");

$global-font: "League Spartan", sans-serif;

/* Primary Colors */
$teddy-bear: hsl(27, 22%, 51%);
$dreamless-sleep: hsl(0, 0%, 7%);

/* Secondary Colors */
$mirage: hsl(234, 30%, 13%);
$ebony-clay: hsl(218, 21%, 18%);
$shuttle-gray: hsl(217, 14%, 42%);
$lady-in-red: 	hsl(0, 43%, 50%);

/* Typography */
@mixin heading-type-xl {
  font-size: 4.44rem;
  line-height: 4.44rem;
  font-weight: 300;
  letter-spacing: -1px;
}

@mixin heading-type-l {
  font-size: 2.6rem;
  line-height: 2.6rem;
  font-weight: 700;
  letter-spacing: -0.5px;
}

@mixin heading-type-m {
  font-size: 1.1rem;
  line-height: 1.3rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
}

@mixin heading-type-s {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

@mixin body-type-primary {
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: 400;
}

@mixin body-type-secondary {
  font-size: .9rem;
  line-height: 1.4rem;
  font-weight: 300;
}

/* Flex */
@mixin flexCenter($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin flexSpaceBetween($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: space-between;
}

/*button*/
@mixin btn {
  width: 14.6rem;
  height: 3.5rem;
 @include heading-type-s;
}





