/* Global styles */
@use './variables';


// TODO => hover states for all interactive elements throughout the site
// TODO => review styles for Mobile, < 600px
// TODO => review styles for Tablet, 600px+
// TODO => review styles for Desktop, 800px+
// TODO => Sass => production
// TODO => Deploy


body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: variables.$global-font;
  font-size: 18px;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: inherit;
}


h1 {
  @include variables.heading-type-xl;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: -0.4px;
  text-align: center;
  color: variables.$ebony-clay;
}

h3,
h4,
h5,
h6 {
  @include variables.heading-type-s;
}

p {
  @include variables.body-type-secondary;
  text-align: center;
  color: variables.$shuttle-gray;
}

.primary {
  @include variables.body-type-primary;
  text-align: center;
}

li {
  @include variables.body-type-secondary;
  text-transform: uppercase;
  font-weight: 300;
}

a,
a:visited,
a:active {
  color: white;
  text-decoration: none
}

.attribution {
  @include variables.body-type-secondary;
  text-align: center;
}

.btn{
 @include variables.btn;
}

.btn-dark {


  border: 1px solid white;
  background: variables.$dreamless-sleep;
  color: white;

  &:hover {
    color: variables.$dreamless-sleep !important;
    border: 1px solid variables.$dreamless-sleep;
    background-color: white;
  }

}

.btn-light {

  border: 1px solid white;
  background-color: transparent;
  color: white;

  &:hover {
    border: 1px solid variables.$dreamless-sleep;
    background-color: white;
    color: variables.$dreamless-sleep;
  }

}

ul {

  list-style: none;
}

a {
  text-decoration: none;
}

app-picture-responsive{
  filter: drop-shadow(0 0 0 .25rem variables.$shuttle-gray);

}
