* {
    margin: 0;
    padding: 0;
    font-family: "League Spartan", sans-serif;
}

img {
    max-width: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;600;700&display=swap");

:root {
    /* Primary Colors */
    --beaver: hsl(27, 22%, 51%);
    --cod-gray: hsl(0, 0%, 7%);
    /* Primary Colors */
    --mirage: hsl(234, 30%, 13%);
    --ebony-clay: hsl(218, 21%, 18%);
    --shuttle-gray: hsl(217, 14%, 42%);
}

/* Typography */
@mixin heading-xl {
    font-size: 80px;
    line-height: 80px;
    font-weight: 300;
    letter-spacing: -1px;
}

@mixin heading-l {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: -0.5px;
}

@mixin heading-m {
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: -0.25px;
}

@mixin heading-s {
    font-size: 17px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}

@mixin body-primary {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}

@mixin body-secondary {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

h2 {
    @include heading-xl();
}

h1 {
    @include heading-l();
}

h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.4px;
    text-align: center;
    color: var(--ebony-clay)
}

h4,
h5,
h6 {
    @include heading-s();
}


.primary {
    @include body-primary();
    text-align: center;
}

p {
    @include body-secondary();
    text-align: center;
    color: var(--shuttle-gray);

}

li {
    @include body-secondary();
    text-transform: uppercase;
    font-weight: 300;
}

button.btn,
app-button {
    @include heading-s();
    text-align: center;
}

a,
a:visited,
a:active {
    color: white;
    text-decoration: none
}

.attribution {
    @include body-secondary();
    text-align: center;
}