<div class="menu">


  <section class="highlights">
    <img src="../../../assets/images/patterns/pattern-divide.svg"
         class="divide">
    <h2>A few highlights from our menu</h2>
    <p>
      We cater for all dietary requirements, but here’s a glimpse at some of our diner’s favourites.
      Our menu is revamped every season.
    </p>
  </section>
  <section class="preview">

    <div class="menu-item"
         *ngFor="let item of menu">
      <div class="content">
        <div class="menu-photo">
          <app-picture-responsive imageTitle={{item.imageTitle}}></app-picture-responsive>

          <img src="/assets/images/patterns/pattern-divide.svg"
               class="item-divide">
        </div>

        <div class="menu-text">
          <h2 class="menu-title">{{ item.title }}</h2>
          <p>{{ item.description }}</p>
        </div>
      </div>
      <div class="divider"></div>
    </div>


  </section>
</div>
