@use '/src/variables';

* {
  color: white;
  @include variables.flexCenter(column);
  text-align: center;
}

.menu {
  position: relative;
  margin: 2.75rem 0 0 0;
  padding: 5rem 1.5rem 0 1.5rem;
  background-color: variables.$dreamless-sleep;

}

.highlights {
  @include variables.flexCenter(column);

  h2 {
    @include variables.heading-type-l;
    width: 20rem;
    font-size: 1.75rem;
    line-height: 2.25rem;
    height: 2.5rem;
  }

  p {
    width: 20rem;
  }
}

.divide {
  margin: 5px 0 2.75rem 0;
}

.preview {
  @include variables.flexCenter(column);
  margin-top: 1.5rem;
}

.menu-item {
  margin-top: 0px;
  margin-bottom: 2.75rem;
}

.menu-photo {
 margin-bottom: 1rem;
}

.menu-title {
  @include variables.heading-type-m;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: -.1px;
}

.menu-text p {
  @include variables.body-type-secondary;
  margin: 5px auto 1.5rem auto;
  padding: 1rem 1.5rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
}

.divider {
  border-bottom: 1px solid white;
  opacity: 15%;
  width: 18rem;
  margin: auto;

}

.menu-item:last-child>.divider {
  opacity: 0%;
}

.item-divide {
  visibility: hidden;
}

@media (min-width:600px) {
  .content {
    @include variables.flexCenter(row);
    width: 80vw;
    position: relative;
  }

  .menu-photo {
    width: 40vw;
    @include variables.flexCenter(row);
  }

  .item-divide {
    width: 32px;
    position: absolute;
    top: 8rem;
    right: -0.65rem;
    z-index: -1;
    visibility: visible;
  }


  .highlights {
    width: 100vw;
    margin: 2.75rem auto;

    h2 {
      width: 440px;
      margin: auto;
    }

    p {
      width: 440px;
      margin: 1.5rem auto;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0px;
    }
  }

  h2 {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.5px;
  }

  .preview {
    margin: 10px auto;
  }



  .menu-item {
    margin-bottom: 0rem;
  }

  .menu-photo {
    z-index: 2;
    position: relative;
    margin-bottom: 0;
  }

  .menu-text {
    @include variables.flexCenter(column);
    height: 4rem;
    align-items: flex-start;
    justify-content: flex-end;

    margin: 0 0 0 2rem;
    width: 21rem;


    h2 {
      height: 1.25rem;
    }

    p {
      padding-left: 0;
      text-align: left;
      height: 2.25rem;
    }

  }

  .divider {
    width: 573px;
  }
}

@media (min-width:900px) {
  .menu {
    position: relative;
    z-index: -2;
    width: 100vw;
    height: 761px;
    padding-top: 2.25rem;
  }

  .highlights {
    width: 40vw;
    height: 441px;
    margin: 0;
    padding: 1.5rem 5vw;

    h2 {

      font-size: 48px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: -0.5px;
      text-align: left;
    }

    p {
      text-align: left;
    }

  }

  .divide {
    margin: 1.5rem 0 2.75rem 0;
  }

  .preview {
    width: 40vw;
    height: 441px;
    margin: 0;
    padding: 0 5vw;
  }
}
